<ion-view view-title="{{title}}">
  <ion-content class="favourite-view">

    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-slide-box active-slide="activeImage" on-slide-changed="slide($index)">
      <ion-slide ng-repeat="image in favourites">
        <img ng-src="{{image.image_url[1]}}" alt=""/>
      </ion-slide>
    </ion-slide-box>


    <!--<ul>-->
      <!--<li ng-repeat="image in favourites"-->
          <!--ng-click="slide()">{{image.name}}</li>-->
    <!--</ul>-->

  </ion-content>
</ion-view>
