<ion-view view-title="Favourites">

  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="favourites">

    <div class="row" ng-repeat="row in rows">
      <div class="col col-33" ng-repeat="fav in row">
        <img ng-src="{{fav.image_url[0]}}" alt="fav.name" ui-sref="tab.favourites_view({id: fav.id})"/>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      ng-if="hasMoreData"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
