<ion-view view-title="Profile">

  <div class="bar bar-dark bar-header">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Profile</div>
    <button class="button button-clear" ui-sref="tab.settings">Settings</button>
  </div>


  <ion-content>

    <div class="user-card">
      <div class="profile-bg"></div>
      <div class="content">
        <div class="profile-info">
          <img class="profile-image" ng-src="{{::user.avatarUrl}}">
          <h3 class="profile-name" ng-bind="::user.fullname"></h3>
          <span class="profile-description" ng-bind="::user.domain"></span>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <button class="button button-outline button-assertive" ng-click="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
