<ion-view view-title="Favourites">

  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="favourites">

    <div class="row" ng-repeat="row in rows" ng-hide="modalIsOpen">
      <div class="col col-33" ng-repeat="fav in row">
        <img ng-src="{{fav.image_url[0]}}" alt="fav.name" ng-click="openModal(fav.id)"/>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      ng-if="hasMoreData"
      distance="1%">
    </ion-infinite-scroll>

    <script id="slider-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent"
           on-tap="close()" on-double-tap="zoom()" on-swipe-down="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="modal.activeImage">
          <ion-slide ng-repeat="image in slider">
            <img ng-src="{{getImageLink(image, $index)}}" class="fullscreen-image" alt=""/>
          </ion-slide>
        </ion-slide-box>
      </div>
    </script>

  </ion-content>
</ion-view>
