<ion-nav-bar class="bar-stable">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-striped tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Favourites Tab -->
  <ion-tab title="Favourites" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/favourites">
    <ion-nav-view name="tab-favourites"></ion-nav-view>
  </ion-tab>

</ion-tabs>
