.login-page {
  background: url("../img/login.jpg") no-repeat;
  background-size: cover;
}

.favourites img {
  width: 100%;
}

.favourites, .dashboard {
  background: #121212;
}

.favourites .col {
  padding: 2px;
}

.favourites .row {
  /*padding: 2px;*/
  padding-bottom: 0;
}

.dashboard img {
  width: 100%;
}

.favourite-view img {
  width: 100%;
}
